<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <img class="navbar-brand" href=" /profiles/" src="<%= user.profile.avatar %>"></img>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/wins/new">ADD DUB!</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link"  href="/wins/index">All Dubs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profiles">Profiles</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
        <% } %>
        <section>
          <div id="pro-pic-nav">
            <img
              
              />
          </div>
        </section>
      </nav>
      
