#nameCard {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #353535;
    background-color: #D9D9D9 ;
    background-size: auto;
}
.col{
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    margin-top: 125px;

}
h1 {
    margin-top: 20px;
    font-weight: bold;
    color: #D9D9D9;
}
.card {
    background-color: #3C6E71;
}