<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Wut up, <%= user ? user.profile.name : "Gamer" %>, Welcome to the Dub Tracker</h1>
  
</main>

<%- include('./partials/footer') %>
