<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Congrats on the Dub!</h1>

    <% if (user) { %>
        <h2>Add a Dub!</h2>
        <form action="/wins" method="POST">
            <label>
                Users In Squad:
                <input type="text" name="usersInSquad" autocomplete="off">
            </label>
            <label>
                Crowned Victory?
                <input type="checkbox" name="crownedVictory">
            </label>
            <button type="submit">Add Dub</button>
        </form>
    <% } %>

<%- include('../partials/footer') %>