<%- include('../partials/html-head') %>
<link rel="stylesheet" href='/stylesheets/wins/input.css'>
<%- include('../partials/nav') %>
<h1>Congrats on the Dub!</h1>

<section class="inputForForm">
    <% if (user) { %>
        <form class="allDataInput" action="/wins" method="POST">
            <div class="headCard"> 
                <h2>Add a Dub!</h2>
            </div>
            <div class="screenData">
                <p>Kills:</p>
                <input type="number" name="kills">
                <p>Assists:</p>
                <input type="number" name="assists">
                <p>Revives:</p>
                <input type="number" name="revives">
                <p>Accuracy:(%)</p>
                <input type="number" name="accuracy">
                <p>Damage To Players:</p>
                <input type="number" name="damageToPlayers">
                <p>Head Shots:</p>
                <input type="number" name="headShots">
                <p>Distance Traveled:(km)</p>
                <input type="number" name="distanceTraveled">
                <p>Damage Taken:</p>
                <input type="number" name="damageTaken">
            </div>
            <div class="notShownData">
                <p>Win Streak:</p>
                <input type="number" name="winStreak">
                <p>Number Of Squad Mates:</p>
                <input type="number" name="numOfSquadMates">
                <p>Squad Mates:</p>
                <input id="SM" type="string" name="usersInSquad">
                <p>Number Of Squad Kills:</p>
                <input type="number" name="squadKills">
                <button class="btn btn-primary" type="submit">Add Dub</button>
            </form>
        </div>
    <% } %>
</section>
<%- include('../partials/footer') %>