body{
    background-color: #4f5766;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: #3C6E71;

}


.inputForForm form{
    background-color: #D9D9D9;
    max-width: 250px;
    max-height: auto;
    margin: auto;
    padding: 10px 40px;
    border-radius: 30px;
    box-shadow: 10px 100px 110px #353535;
    font-size: 13px;
}
.headCard {
    padding-bottom: 25px;
}

.allDataInput{
    text-align: center;
}


.btn{
    display: flex;
    flex: row;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color:  #3C6E71;
    border: none;
    color: #D9D9D9;
    margin: 20px auto 20px auto;
}


@media (min-width: 576px) {
    .inputForForm form{
        padding: 50px 20px;
        max-width: 480px;
    }
}